@charset "uft-8";
@font-face {
    font-family:Inkfree;
    font-style: normal;
    font-weight: 400;
    src:
    url("../fonts/ink-free-normal.woff2") format("woff2"),
    url("../fonts/ink-free-normal.woff") format("woff"),
    url("../fonts/ink-free-normal.ttf") format("truetype"),
    url("../fonts/InkFree.svg#Inkfree") format("svg");
}
@font-face {
  font-family:KCC-eunyoung;
  font-style: normal;
  font-weight: 400;
  src:
  url('../fonts/KCC-eunyoung.woff2') format('woff2'),
  url('../fonts/KCC-eunyoung.woff') format('woff'),
  url('../fonts/KCC-eunyoung.ttf') format('truetype'),
  url('../fonts/KCC-eunyoung.svg') format('svg');
}
body, h1, h2, h3, h4, p, ul, button, figure, figcaption{margin: 0;padding: 0;}
h1, h2, h3, h4{font-size: 100%;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none; color: inherit;}
button {font-family: inherit; font-size: inherit; color: inherit; border: none; cursor: pointer; background: none;}
img{vertical-align: top; border: none; max-width: 100%;}

body{font-family: Inkfree, "KCC-eunyoung"; font-size: 2.34375vw; color: #ffb23e; font-weight: 400; line-height: 1;}
.area{width: 82.8125vw; margin: 0 auto;}
.d_f{display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.blind{width: 1px;height: 1px;overflow: hidden;border: none;position: absolute;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}

#skip a{position: absolute; top: 0; left: -9999px; z-index: 1000; font-size: 1.5625vw;}
#skip a:focus{left: 0; width: 100%; height: 60px; line-height: 60px; text-align: center; background: #000; color: #fff;}

/* header */
#header{position: fixed; top: 0; left: 0; width: 100%; height: 5.7291vw; z-index: 900;}
#header .area{height: 100%; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: center;align-items: center;}
.btn_open{position: relative; width: 3.3854vw; height: 2.6041vw;}
.btn_open .line{position: absolute; left: 0; height: 0.3718vw; width: 100%; background: #ffb23e;}
.btn_open .line1{top: 0;}
.btn_open .line2{top: 50%; transform: translateY(-50%);}
.btn_open .line3{bottom:0; width: 80%;}

#gnb{position: fixed; top: 0; right: -22%; width: 22%; height: 100%; background: #000; color: #fff; visibility: hidden;}
#gnb ul{margin:25vh 0; height: 50vh; text-align: center; display: flex; flex-direction: column; justify-content: space-between;}
#gnb ul a{display: inline-block;}
#gnb ul a::after{content: ""; width: 0; margin: 0 auto; display:block; transition: width 0.5s; background: #fff; height: 5px;}
#gnb ul a:hover::after, #gnb ul a:focus::after{width: 100%;}
#gnb .btn_close{position: absolute; left: 50%; top: 5vh; transform: translateX(-50%); color: #fff;}
#container section{height: 100vh; padding-top: 5.7291vw; box-sizing: border-box;}

/* footer */
/* cnt6 */
#footer{padding: 4.125vw 0; font-size: 1.0416vw; text-align: center;background: #30303A;}
#footer .copy{font-size: 0.885416vw; padding: 1.0416vw;}