@charset "utf-8";
/* cnt1 */
#content1{background: #30303A;}
#content1 .e{position: absolute;left:50%;top:60%;transform:translate(-50%,-50%);text-align:center;}
#content1 .e h1{font-size:60px;font-weight:bold;color:#ffb23e;letter-spacing:0px;transition:1s;-webkit-transition:1s;-ms-transition:1s;position: relative;padding:10px; cursor: pointer; width: 100%;}
#content1 .e h1::before, .e h1::after{content:"";position: absolute;height: 7px;width: 0px;background:#ffb23e;transition:300ms;-webkit-transition:1s;-ms-transition:1s;opacity:0.3;left:50%;}
#content1 .e h1::before{bottom:0;}
#content1 .e h1::after{top:0;}
#content1 .e h1:hover{letter-spacing:10px;}
#content1 .e h1:hover::before,
#content1 .e h1:hover::after{width: 95%;opacity:1;left:0;}
#content1 .e h1:hover ~ .e h2{opacity:0;}
#content1 .e h2{color:#fff;font-size:100px;font-weight:100;bottom:95px;position: absolute;transition:1s;-webkit-transition:1s;-ms-transition:1s;opacity:0.1;width: 100%; cursor: pointer;}

/* cnt2 */
#content2{position: relative;}
#content2 .bg , #content2 .bg div{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#content2 .bg div{opacity: 0;transform: scale(0.9);background: no-repeat center/cover;transition: all 0.5s;}
#content2 .bg .bg1{background-image: url("../images/background1.jpg");}
#content2 .bg .bg2{background-image: url("../images/background2.jpg");}
#content2 .bg div.view{opacity: 1;transform: scale(1);}
#content2 .bg::after{content: ""; position: absolute; top: 0; width: 100%; left: 0; height: 100%; background: rgba(0, 0, 0, 0.7);}
#content2 .cnt2_wrap{position: absolute; top: 5.7291vw; left: 0; height: calc(100vh - 5.7291vw); width: 100%; color: #fff;}
#content2 .cnt2_wrap .cnt2_txt{display: flex; flex-direction: column; height: 100%; width: 70%; margin: 0 auto;}
#content2 .cnt2_wrap .cnt2_txt div{flex-basis:50%; transition: all 0.5s; display: flex; align-items: center; width: 100%; position: relative;}
#content2 .cnt2_wrap .cnt2_txt div.selected{padding-left: 15%; color: #ffb23e; box-sizing: border-box;}
#content2 .cnt2_wrap .cnt2_txt .txt_inner{border-bottom: 2px solid #fff;}
#content2 .cnt2_wrap .cnt2_txt div.selected .txt_inner a{border-bottom-color:#ffb23e;}
#content2 .cnt2_wrap .title span{display: block;}
#content2 .cnt2_wrap .cate{position: absolute; top: 0; right: 0; font-size: 1vw;}
#content2 .pagenation{position: absolute; right: 1.0416vw; top: 50%; transform: translateY(-50%);}
#content2 .pagenation li:first-child{margin-bottom: 2.1875vw;}
#content2 .pagenation button{width: 2.1875vw; height: 2.1875vw; border-radius: 50%; background: #fff;}
#content2 .pagenation li.on button{background: #ffb23e;}

/* cnt3 */
#content3{position: relative; background: #30303A;display: flex;align-items: center;justify-content: center;}
#content3 .area{height: 600px; background: blue;}
#content3 .cnt_title{font-size: 3.125vw; color: #fff; line-height: 2; border-bottom: 0.2083vw solid #fff;}
#content3 .area ul{display: flex; justify-content: center;}
#content3 .area ul li{display: flex; flex-direction: column; align-items: center; height: 20.177vw; background: silver; width: 25%; text-align: center; justify-content: space-around; position: relative; padding: 4vw 0;}
#content3 .area .num{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -200%);}
#content3 .chartBarsWrap {padding-left: 40px; margin: 0 30px 0 20px;width: 70%;transform: translateY(2.8645vw);}
#content3 .chartBars {position: relative;max-width: 1000px;height: 500px;margin: 50px auto 100px;}
#content3 .chartBars .bars {display: -webkit-box;display: flex;justify-content: space-around;border-left: 1px solid #ffb23e;border-bottom: 1px solid #ffb23e; width: 100%; height: 100%; padding: 0; padding: 0 1%; margin: 0;}
#content3 .chartBars .bars li {display: inline-block; -webkit-box-flex: 0; flex: 0 1 24%; height: 100%; margin: 0; text-align: center; position: relative; font-size:1.3020vw;}
#content3 .chartBars .bars li .bar {width: 100%; background: #30303A; position: absolute; font-size: 1.5em; color: #fff; padding-top: 18px; bottom: 0; height: 0; overflow: hidden; font-weight: bold; outline: 2px solid transparent; -webkit-transition: 1.5s height cubic-bezier(0.6, 0.4, 0.4, 1.1); transition: 1.5s height cubic-bezier(0.6, 0.4, 0.4, 1.1);}
#content3 .chartBars .bars li .bar:after {content: '%'; font-size: 1.14583vw !important; vertical-align: top; color: #fff; margin-right: -8px;}
#content3 .chartBars .bars li b {color: #ffb23e; width: 100%; position: absolute; bottom: -4em; left: 0; text-align: center; font-size:1.3020vw;}
#content3 .chartBars .numbers {width: 50px;height: 100%; margin: 0; padding: 0; display: inline-block; position: absolute; left: -50px;}
#content3 .chartBars .numbers li {text-align: right; padding-right: 1em; list-style: none; height: 99px; position: relative; font-size: 13px; bottom: 11px; right: -9px; color: #ffb23e;}
#content3 .chartBars .numbers li:after {content: "\00af";position: relative; right: -5px; font-size: 20px; top: 10px;}
#content3 .chartBars .numbers li:first-of-type {margin-top: 1px;}
#content3 .chartBars1 .bar {border-top-left-radius: 30px; border-top-right-radius: 30px;}
#content3 .bars li .bar.greenBar {background-color: #ffb23e;}
#content3 .bars li .bar.blueBar {background-color: #ffb23e;}
#content3 .bars li .bar.orangeBar {background-color: #ffb23e;}
#content3 .bars li .bar.purpleBar {background-color: #ffb23e;}
#content3 .tooltip > .tooltipContent {display: block;position: absolute;background: none repeat scroll 0 0 #222;color: #ffb23e;font-size:1.3020vw;font-weight: normal;line-height: 2em;padding: 16px 15px;min-width: 200px;max-width: 500px;top: 100px;left: 50%;-webkit-transform: translate(-50%, -110%);transform: translate(-50%, -110%);margin-left: 0;opacity: 0;text-align: center;z-index: 2;text-transform: none;-webkit-transition: all 0.3s ease;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
#content3 .tooltip:hover > .tooltipContent {opacity: 1;z-index: 99;-webkit-transform: translate(-50%, -130%);transform: translate(-50%, -130%);-webkit-transition: all 0.2s ease;transition: all 0.2s ease;}
#content3 .tooltip .tooltipContent:after {border-color: #222 rgba(0, 0, 0, 0);border-style: solid;border-width: 15px 15px 0;bottom: -15px;content: "";display: block;left: 50%;-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0);position: absolute;width: 0;}
#content3 .area ul li .subject{color:#fff;}

/* cnt4 */
#content4{background: #30303A; display: flex; align-items: center; }
#content4 .area{text-align: center; background: #30303A;}
#content4 .area div {display: inline-block;}
#content4 .area .bigger{font-size: 2.0833vw; font-weight: 800; padding: 1.0416vw;text-transform: uppercase;color: #ffb23e; display: inline-block; position: relative;}
#content4 .area .text {max-width: 100%; width: 100%; line-height: 37px; text-align: left; color: #fff; padding: 1.0416vw; font-size: 1.927083vw;}
#content4 .area .has-animation {position: relative;}
.has-animation p, .has-animation img {opacity: 0;}
.has-animation.animate-in p, .has-animation.animate-in img {animation: textHidden 0.1s 1.1s forwards;}
.has-animation.animate-in:before, .has-animation.animate-in:after {content: ""; position: absolute; top: 0; right: 0; height: 100%; z-index: 10;}
.has-animation.animate-in:before {background-color: #fff;}
.has-animation.animate-in:after {background-color: #ffb23e; animation-delay: 0.5s;}
.has-animation.animation-ltr.animate-in:before {animation: revealLTR 1.8s ease;}
.has-animation.animation-ltr.animate-in:after {animation: revealLTR 1s 0.6s ease;}
.has-animation.animation-rtl.animate-in:before {animation: revealRTL 1.8s ease;}
.has-animation.animation-rtl.animate-in:after {animation: revealRTL 1s 0.6s ease;}
@keyframes revealRTL {
  0% {width: 0;right: 0;}
  65% {width: 100%;right: 0;}
  100% {width: 0;right: 100%;}
}
@keyframes revealLTR {
  0% {width: 0;left: 0;}
  65% {width: 100%;left: 0;}
  100% {width: 0;left: 100%;}
}
@keyframes textHidden {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* cnt5 */
#content5{background: #30303A;padding-top: 5.7291vw;}
.accordion{width: 1200px;margin: 0 auto; border: 2px solid transparent;border-bottom: 1px solid #aaa;}
.accordion .tit{background: rgba(0, 0, 0, 0.2);}
.accordion .panel + .tit{border-top: 1px solid #aaa;}
.accordion .header{position: relative;width: 100%;padding: 1vw 0.625vw; text-align: center;}
.accordion .header.on, .accordion .header:focus{background-color: #30303A;}
.accordion .header::after{content: "\e941";font-family: xeicon;font-size: 1.5vw;position: absolute;right: 30px;top: 50%;transform: translateY(-50%);}
.accordion .header.on::after{content: "\e944";}
.accordion span{font-size:2.1875vw;}

.accordion .panel{visibility: hidden;max-height: 0;overflow: hidden;transition: all 0.5s;}
.accordion .panel.on{visibility: visible; max-height: 611px;}
.accordion .panel > div{padding: 1.82291vw; background: #30303A; text-align: left;}
.accordion .panel > div h4{font-size: 2.083vw;}
.accordion .panel > div p{padding: 1vw; font-size: 1.8229vw;}
.accordion .panel .img_wrap{display: flex;justify-content: space-between;}